.members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    justify-items: stretch;
    box-sizing: border-box;
    cursor: pointer;

    & .member {
	position: relative;
	padding: 10px;
	margin: 10px;
	border: 1px solid rgba(255,255,255,.2);
	border-radius: .3rem;
	background-color: #16141420;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);

	& .member-name {
	    margin-top: 0;
	}

	& .member-git {
	    /* color: lightgrey; */
	    font-family: sans-serif;
	}

	& .member-pfp {
	    width: 50px;
	    height: 50px;
	    border-radius: 25%;
	    margin-right: 1rem;
	}

	& .member-tags {
	    padding-top: 10px;
	    color: white;

	    & .member-tag {
		background-color: rgb(64, 64, 64);
		padding: .25rem .6rem;
		margin: .1rem;
		border-radius: 5px;
		font-family: monospace;
		font-size: small;
		text-transform: uppercase;
	    }
	}
    }
}
